#Angular
*/.project
*/.metadata
AngularDemo/cosmos-ems/.angular/
AngularDemo/cosmos-ems/.browserslistrc
AngularDemo/cosmos-ems/.editorconfig
AngularDemo/cosmos-ems/.vscode/

#LambdaExpressions
LambdaExpressions/.idea
LambdaExpressions/krish-fullstack-training.iml
LambdaExpressions/out

#Microservices
.metadata/
MicroservicesDemo/demo-application/src/main/resources/application.yml
MicroservicesDemo/demo-application/target/classes/application.yml

#ServletDemo
ServletDemo/.classpath
ServletDemo/.project
ServletDemo/.settings
ServletDemo/build/

#SpringFundamentals
SpringFundamentals/*/.classpath
SpringFundamentals/*/.project
SpringFundamentals/*/.settings/
SpringFundamentals/*/bin/

#WaterDroppingProblem
WaterDroppingProblem/.classpath
WaterDroppingProblem/.project
WaterDroppingProblem/.settings/
WaterDroppingProblem/bin/
