*.yml

.metadata/
**/.location
properties.index
*.tree
**/.safetable
**/.settings
*.xmi
*.index
*.dat
*.log
*.properties
*.ini

**/.project
*.class

#from earlier
*.classpath
*.settings
*.idea
*.browserslistrc/
*.editorconfig/
*.vscode/
*.angular/

*.mvn/
*.settings/



