#container {
  background: #222 url("https://unsplash.it/1920/1080/?random") center center
    no-repeat;
  background-size: cover;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
